@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{

    int count = 0;
    if (ViewBag.Cart != null)
    {
        foreach (var item in ViewBag.Cart)
        {         
            count = item.totalcount_distinct;
          
            break;
            
        }
    }

   
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
    var userRole = roles.FirstOrDefault(); // Assuming a user has only one role
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <title>BookHive</title>

    <link href="~/theme/css/style.css" rel="stylesheet">
  
    <link href="~/theme/plugins/toastr/css/toastr.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="~/theme/images/favicon.png">

    <!-- Pignose Calender -->
    <link href="~/theme/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">

    <link href="~/theme/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">

    <link href="~/theme/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">

                 @if (SignInManager.IsSignedIn(User))
                {
                    if (@userRole == "admin")
                    {
                                <li class="icons dropdown">
                                    <a href="javascript:void(0)" data-toggle="dropdown">
                                        <i class="mdi mdi-email-outline"></i>
                                        <span class="badge gradient-1 badge-pill badge-primary">3</span>
                                    </a>
                                    <div class="drop-down animated fadeIn dropdown-menu">
                                        <div class="dropdown-content-heading d-flex justify-content-between">
                                            <span class="">3 New Messages</span>

                                        </div>
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li class="notification-unread">
                                                    <a href="javascript:void()">
                                                        <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                        <div class="notification-content">
                                                            <div class="notification-heading">Saiful Islam</div>
                                                            <div class="notification-timestamp">08 Hours ago</div>
                                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification-unread">
                                                    <a href="javascript:void()">
                                                        <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                        <div class="notification-content">
                                                            <div class="notification-heading">Adam Smith</div>
                                                            <div class="notification-timestamp">08 Hours ago</div>
                                                            <div class="notification-text">Can you do me a favour?</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <img class="float-left mr-3 avatar-img" src="images/avatar/3.jpg" alt="">
                                                        <div class="notification-content">
                                                            <div class="notification-heading">Barak Obama</div>
                                                            <div class="notification-timestamp">08 Hours ago</div>
                                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <img class="float-left mr-3 avatar-img" src="images/avatar/4.jpg" alt="">
                                                        <div class="notification-content">
                                                            <div class="notification-heading">Hilari Clinton</div>
                                                            <div class="notification-timestamp">08 Hours ago</div>
                                                            <div class="notification-text">Hello</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </li>

                                <li class="icons dropdown">
                                    <a href="javascript:void(0)" data-toggle="dropdown">
                                        <i class="mdi mdi-bell-outline"></i>
                                        <span class="badge badge-pill gradient-2 badge-primary">3</span>
                                    </a>
                                    <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                        <div class="dropdown-content-heading d-flex justify-content-between">
                                            <span class="">2 New Notifications</span>

                                        </div>
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                        <div class="notification-content">
                                                            <h6 class="notification-heading">Events near you</h6>
                                                            <span class="notification-text">Within next 5 days</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                        <div class="notification-content">
                                                            <h6 class="notification-heading">Event Started</h6>
                                                            <span class="notification-text">One hour ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                        <div class="notification-content">
                                                            <h6 class="notification-heading">Event Ended Successfully</h6>
                                                            <span class="notification-text">One hour ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void()">
                                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                        <div class="notification-content">
                                                            <h6 class="notification-heading">Events to Join</h6>
                                                            <span class="notification-text">After two days</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </li>


                    }


                    
                        else if (@userRole != "admin")
                        {
                            <li class="icons dropdown">
                                <a href="javascript:void(0)" data-toggle="dropdown">
                                    <i class="bookborrow-icon-class"></i>
                                    <i class="mdi mdi-cart-outline"></i>
                                    <span class="badge badge-pill gradient-2 badge-primary">@count</span>
                                </a>
                                <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                    <div class="dropdown-content-heading d-flex justify-content-between">
                                        <h5> <span class="">@count</span> Book added in Borrow</h5>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            @if (ViewBag.Cart != null)
                                            {
                                                foreach (var item in ViewBag.Cart)
                                                {
                                                    <li>
                                                            <a href="/Student/CartList">

                                                            <span class="mr-3 avatar-icon ">
                                                                <i class=" fa-duotone fa-book"></i>

                                                            </span>

                                                            <div class="notification-content mb-2">
                                                                <h6 class="notification-heading">@item.bookname</h6>
                                                                <span class="notification-text">@item.minutes minutes ago</span>

                                                            </div>


                                                        </a>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </li>

                        }
                       
                 }
                      
                       
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="https://localhost:44395/Image/thumbnail.png" height="40" width="40" alt="profile">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                        </li>

                                        <hr class="my-2">
                                      
                                        <li><a href="/Account/LogOut"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">

                @if (SignInManager.IsSignedIn(User))
                {
                    if (@userRole == "admin")
                    {
                          <ul class="metismenu" id="menu">
                            <li class="nav-label">Dashboard</li>
                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a href="/Dashboard/Index">Dashboard 1</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Setting</span>
                                </a>
                               
                                <ul aria-expanded="false">
                                    <li><a href="/Account/UserList">User List</a></li>
                                    <li><a href="/Account/StudentUserList">Student User List</a></li>

                                </ul>                               
                            </li>
                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Author</span>
                                </a>

                                <ul aria-expanded="false">
                                 
                                    <li><a href="/Author/Index">Author List</a></li>
                                 

                                </ul>

                            </li>

                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Book</span>
                                </a>

                                <ul aria-expanded="false">

                                    <li><a href="/Author/BookList">Book List</a></li>


                                </ul>

                            </li>
                        </ul>
                    }
                    else
                    {
                         <ul class="metismenu" id="menu">                          
                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Profile</span>
                                </a>
                                <ul aria-expanded="false">
                                  
                                    <li><a href="/Student">Profile</a></li>
                                    <li><a href="/Student/Profile">Update Profile</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Books</span>
                                </a>

                                <ul aria-expanded="false">
                                    <li><a href="/Student/BookList">Book List</a></li>
                                 </ul>
                                                         
                            </li>
                            <li>
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Cart</span>
                                </a>

                                <ul aria-expanded="false">
                                    <li><a href="/Student/CartList">Request for Borrow</a></li>
                              
                                </ul>

                            </li>
                         </ul>
                    }
                }
              
            </div>
        </div>
     
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->         
            <div class="container-fluid">
                <main role="main" class="pb-3">

                  
                    @RenderBody()
                </main>
            </div>

            <!-- #/ container -->
        </div>
      
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Book Hive</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.11/signalr.min.js"></script>

    <script>
      
       
      
    </script>

  
   <script src="~/theme/plugins/common/common.min.js"></script>
    <script src="~/theme/js/Toasthandler.js"></script>
    <script src="~/theme/js/custom.min.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/gleek.js"></script>
    <script src="~/theme/js/styleSwitcher.js"></script>

    <script src="~/theme/plugins/toastr/js/toastr.min.js"></script>
    <script src="~/theme/plugins/toastr/js/toastr.init.js"></script>

   

    <script src="~/theme/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/theme/plugins/validation/jquery.validate-init.js"></script>

   
    <script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
 
    <script src="~/plugins/circle-progress/circle-progress.min.js"></script>
   
    <script src="~/plugins/d3v3/index.js"></script>
    <script src="~/plugins/topojson/topojson.min.js"></script>
    <script src="~/plugins/datamaps/datamaps.world.min.js"></script>
  
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morris/morris.min.js"></script>
   
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
  
    <script src="~/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="~/js/dashboard/dashboard-1.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/theme/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/theme/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/theme/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
