
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="toastr m-t-15">
        <div class="text-left">
            <button type="button" class="btn" id="toastr-success-top-right" onclick="toastMessage()"></button>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="toastr m-t-15">
        <div class="text-left">
            <button type="button" class="btn" id="toastr-success-top-right" onclick="toastMessage()"></button>
        </div>
    </div>
}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white"> Books Category</h3>
                        <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.Totalbook</h2>
                         
                          
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                    </div>
                </div>
            </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card gradient-4">
                <div class="card-body">
                    <h3 class="card-title text-white">Books Lend</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.totallend</h2>
                       
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                </div>
            </div>
        </div>
            
            <div class="col-lg-4 col-sm-6">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Total Users</h3>
                        <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.newstudent</h2>
                     
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                    </div>
                </div>
            </div>
       
            
        </div>

       

      
    </div>
  
    <script>
     $(document).ready(function () {
        debugger;
        var message = '@ViewBag.Message';
        if (message) {
            SucessMessage(message)
        }


        var warningmessage = '@ViewBag.ErrorMessage';
        if (warningmessage) {
            DangerMessage(warningmessage)
        }

    });


</script> 